doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title Natours | #{title}
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
  body(data-alert=`${alert ? alert : ''}`)
    // Header
    include parts/_header

    // Content
    block content
      h1= tour

    // Footer
    include parts/_footer

    block body_end
      script(src='https://js.stripe.com/v3/', defer)
      script(src='/js/bundle.js', defer)
