extends layouts/base

mixin menuItem(link, icon, text, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    div.user-view
      nav.user-view__menu
        ul.side-nav
          li.side-nav--active
            +menuItem('#', 'settings', 'Settings', true)
            +menuItem('/my-tours', 'briefcase', 'My bookings')
            +menuItem('#', 'star', 'My reviews')
            +menuItem('#', 'credit-card', 'Billing')

        if user.role === 'admin'
          div.admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +menuItem('#', 'map', 'Manage tours')
              +menuItem('#', 'users', 'Manage users')
              +menuItem('#', 'star', 'Manage reviews')
              +menuItem('#', 'briefcase', 'Manage bookings')

      div.user-view__content
        div.user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form#update_settings_form.form.form-user-data
            div.form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required)
            div.form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, required)
            div.form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Choose new photo
            div.form__group.right
              button.btn.btn--small.btn--green Save settings
        div.line &nbsp;
        div.user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form#change_password_form.form.form-user-settings
            div.form__group
              label.form__label(for='password-current') Current password
              input#password_current.form__input(type='password', placeholder='••••••', required, minlength='6')
            div.form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••', required, minlength='6')
            div.form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password_confirm.form__input(type='password', placeholder='••••••', required, minlength='6')
            div.form__group.right
              button.btn.btn--small.btn--green Save password
