extends layouts/base

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error 404: page not found
        h2.error__emoji 😢 🤯
      .error__msg= msg
