extends layouts/base

block content
  main.main
    div.login-form
      h2.heading-secondary.ma-bt-lg Log into your account
      form#login_form
        div.form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        div.form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••', required, minlength='6')
        div.form__group
          button.btn.btn--green Login
