extends layouts/base

block content
  main.main
    div.login-form
      h2.heading-secondary.ma-bt-lg Register your account
      form#signup_form
        div.form__group
          label.form__label(for='name') Name
          input#name.form__input(type='text', placeholder='Your name', required)
        div.form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        div.form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••', required, minlength='6')
        div.form__group.ma-bt-md
          label.form__label(for='password_confirm') Password Confirm
          input#password_confirm.form__input(type='password', placeholder='••••••', required, minlength='6')
        div.form__group
          button.btn.btn--green Sign up
